{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Braxton Brent Resume{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>

<img src ="https://media-exp1.licdn.com/dms/image/C4E03AQGdvdbDazXzsw/profile-displayphoto-shrink_800_800/0/1659456378427?e=1675296000&v=beta&t=9CbhyXEjqMKJZm2p_JnEZeSR5AGxYQaZOakpwlqImr4"  alt='picture'
width = 15% height = 15% style = 'float:left' hspace= 10 > <br>
<div> <b> Contact </b> </div>
<hr>
<div><u>Braxtech5@gmail.com</u> </div>
<div>443-500-6502</div> 
<a href="https://www.linkedin.com/in/braxton-brent-235032158/"> Connect with me on Linkedin </a>


<p>
<br>
<div><b> Experience </b></div>
<hr>
<div><i> Business Intelligence Analyst , Publicis Health Media (04/21 - Present)</i></div>
<ul type = 'circle'> <li> Executed internal client team wide effort using a machine learning model to forecast data for
  use in quarterly reporting deliverables and presented findings as a BI wide case study </li> </ul> 
<ul type = 'circle'> <li> Assisted in the development of quarterly reporting deliverables, spearheaded efforts each
  quarter across data manipulation, insight writing, and storytelling </li> </ul> 
<ul type = 'circle'> <li> Created, utilized, and maintained both internal and client facing dashboards showcasing key
  digital campaign metrics and KPIs </li> </ul> 
<ul type = 'circle'> <li> Orchestrated quarterly reporting efforts across internal teams managing contributions and
  deadlines for each team while also leading internal review sessions </li> </ul> 
<ul type = 'circle'> <li> Oversaw maintenance of digital nomenclature, implemented backend changes needed for
  taxonomy updates, and handled QA checks </li> </ul> 

<div><i> Reconciliation Analyst , SEI (06/2020 - 03/2021)</i></div>
<ul type = 'circle'> <li> Analyzed daily mutual fund transactions, diagnosed errors and assigned them to the appropriate teams </li> </ul> 
<ul type = 'circle'> <li> Collaborated with teams across SEI regarding complex multi-team reconciliation errors </li> </ul> 
<ul type = 'circle'> <li> Generated daily reports summarizing money market trading errors and monthly client reports </li> </ul> 
  
<div><i> Caruso Incubator Associate , Uncommon Individual Foundation (09/2019 - 04/2020)</i></div>
<ul type = 'circle'> <li> Lead generation campaign management, DeviceKat</li> </ul> 
<ul type = 'square'> <li> Led efforts in email copywriting, target audience selection, and cold calling </li> </ul> 
<ul type = 'circle'> <li> SEO growth plan development, Fulphil </li> </ul> 
<ul type = 'square'> <li> Assessed current SEO efforts and provided a long term plan for organic growth </li> </ul> 
<ul type = 'circle'> <li> Marketing plan development, Real OT Solutions</li> </ul> 
<ul type = 'square'> <li> Designed long term marketing plan with focus on website format, social media use,
  copywriting, and branding</li> </ul> 

<div><i> Team Representative , Enactus (08/2019 - 01/2020)</i></div>
<ul type = 'circle'> <li> Facilitated fundraising efforts for Enactus campus events</li> </ul> 
<ul type = 'circle'> <li> Designed the 2019 enactus discount card </li> </ul> 
  
<div><i> Marketing Intern , FORKaiA (11/2019 - 01/2019)</i></div>
<ul type = 'circle'> <li> Developed marketing strategies for developing startups in an incubator format</li> </ul> 
<ul type = 'circle'> <li>  Generated business models and product offerings for up and coming startups </li> </ul> 
</p>

<div><b> Education </b></div>
<hr>
<div><i> Eastern University, MS Data Science (Expected December 2022 Graduate)</i></div>
<ul type = 'circle'> <li> 3.7 GPA</li> </ul> 

<div><i> Eastern University, BA Marketing & BA Business Administration (May 2020 Graduate)</i></div>
<ul type = 'circle'> <li> 3.6 GPA</li> </ul> 
<ul type = 'circle'> <li> Wilson Goode Scholar, Delta Mu Delta Business Honor Society Member</li> </ul> 
<ul type = 'circle'> <li> NCAA Division 3 men's lacrosse team member</li> </ul> 
<ul type = 'circle'> <li> Member of Student Athletic Advisory Committee (SAAC)</li> </ul> 
<p>

</p>
<div><b> Skills </b></div>
<hr>
<ul type = 'circle'> <li> Python (Numpy, Pandas, Scikit-Learn, Keras, Tensorflow) </li> </ul> 
<ul type = 'circle'> <li> R , SQL </li> </ul> 
<ul type = 'circle'> <li> Matplotlib, Tableau, Datorama, Qlik </li> </ul> 
<ul type = 'circle'> <li> Adobe Creative Cloud </li> </ul> 
<ul type = 'circle'> <li> Insight Generation </li> </ul> 
<ul type = 'circle'> <li> Writing and Storytelling </li> </ul> 
<ul type = 'circle'> <li> Deliverable Management </li> </ul> 
<ul type = 'circle'> <li> Quick-learner </li> </ul> 
<p>

</p>

</p>

{% endblock %}
